* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.banner {
    height: 100%;
    /* background-color: rgba(23, 117, 204, 0.67); */
}

.form-container, .wrapper{
    width: 95%;
    max-width: 540px;
    height: 380px;
    background-color:rgba(23, 117, 204, 1);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-align: left;
    padding: 0 2%;
}

.form-container > img {
    display: block;
    width: 100%;
    max-width: 176px;
    height: 168px;
    position: relative;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -12%);
}
form {
    display: block;
    margin-top: 50px;
}


form > input[type=email], form > input[type=password] {
    width: 100%;
    padding-left: 10px;
    display: block;
    margin: 20px auto;
    height: 40px;
    border: 0;
    border-radius: 15px;
}

form input[type=submit]{
    margin: 0;
    float: left;
    width: 50%;
    max-width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 0;
    background-color: white;
    cursor: pointer;
}


.form-group {
    float: right;
    font-size: 12px;
    color: white;
    width: 50%;
    text-align: right;
    margin-top: 5px;
    
}

.form-group label{
    vertical-align: top;
}
.form-group input{
    border: 0;
    border-radius: 10px;
}

.form-errors{
    width: 100%;
    padding-top: 8px;
    border-radius: 20px;
}

.form-errors p{
    display: block;
    font-size: 20px;
    color: red;
}