<!DOCTYPE html>
{% extends 'users/base.html' %}
{% load static %}

{% block title %} Index {% endblock title %}

{% block body %}
    <div class="main-products">

        <div class="item-card">
            <a href="/account/user/login">
                <img src="{% static '/user/images/nike1.webp' %}" alt="" srcset="">
                <div class="prod-description">
                    <a href="" class="details product-name">Tenis Nike Unisex</a>
                    <div class="price-content">
                        <div class="list-price">
                            <del>R$ 499,90</del>
                        </div><!--list-price-->
                        <div class="price">
                            <span>
                                R$ 439,90
                            </span>
                        </div><!--price-->
                        <div class="payment-method">
                            5x de 
                            <span class="installments">
                                <span class="installment-amount">R$ 87,98</span>
                            </span>
                        </div>
                    </div><!--price-content-->
                </div><!--prod-description-->
            </a>
        </div><!--item-card-->

        <div class="item-card">
            <a href="/account/user/login">
                <img src="{% static '/user/images/nike1.webp' %}" alt="" srcset="">
                <div class="prod-description">
                    <a href="" class="details product-name">Tenis Nike Unisex</a>
                    <div class="price-content">
                        <div class="list-price">
                            <del>R$ 499,90</del>
                        </div><!--list-price-->
                        <div class="price">
                            <span>
                                R$ 439,90
                            </span>
                        </div><!--price-->
                        <div class="payment-method">
                            5x de 
                            <span class="installments">
                                <span class="installment-amount">R$ 87,98</span>
                            </span>
                        </div>
                    </div><!--price-content-->
                </div><!--prod-description-->
            </a>
        </div><!--item-card-->
        
        
        <div class="item-card">
            <a href="/account/user/login">
                <img src="{% static '/user/images/nike1.webp' %}" alt="" srcset="">
                <div class="prod-description">
                    <a href="" class="details product-name">Tenis Nike Unisex</a>
                    <div class="price-content">
                        <div class="list-price">
                            <del>R$ 499,90</del>
                        </div><!--list-price-->
                        <div class="price">
                            <span>
                                R$ 439,90
                            </span>
                        </div><!--price-->
                        <div class="payment-method">
                            5x de 
                            <span class="installments">
                                <span class="installment-amount">R$ 87,98</span>
                            </span>
                        </div>
                    </div><!--price-content-->
                </div><!--prod-description-->
            </a>
        </div><!--item-card-->
        
        
        <div class="item-card">
            <a href="/account/user/login">
                <img src="{% static '/user/images/nike1.webp' %}" alt="" srcset="">
                <div class="prod-description">
                    <a href="" class="details product-name">Tenis Nike Unisex</a>
                    <div class="price-content">
                        <div class="list-price">
                            <del>R$ 499,90</del>
                        </div><!--list-price-->
                        <div class="price">
                            <span>
                                R$ 439,90
                            </span>
                        </div><!--price-->
                        <div class="payment-method">
                            5x de 
                            <span class="installments">
                                <span class="installment-amount">R$ 87,98</span>
                            </span>
                        </div>
                    </div><!--price-content-->
                </div><!--prod-description-->
            </a>
        </div><!--item-card-->
        
        
        <div class="item-card">
            <a href="/account/user/login">
                <img src="{% static '/user/images/nike1.webp' %}" alt="" srcset="">
                <div class="prod-description">
                    <a href="" class="details product-name">Tenis Nike Unisex</a>
                    <div class="price-content">
                        <div class="list-price">
                            <del>R$ 499,90</del>
                        </div><!--list-price-->
                        <div class="price">
                            <span>
                                R$ 439,90
                            </span>
                        </div><!--price-->
                        <div class="payment-method">
                            5x de 
                            <span class="installments">
                                <span class="installment-amount">R$ 87,98</span>
                            </span>
                        </div>
                    </div><!--price-content-->
                </div><!--prod-description-->
            </a>
        </div><!--item-card-->
        
        
        <div class="item-card">
            <a href="/account/user/login">
                <img src="{% static '/user/images/nike1.webp' %}" alt="" srcset="">
                <div class="prod-description">
                    <a href="" class="details product-name">Tenis Nike Unisex</a>
                    <div class="price-content">
                        <div class="list-price">
                            <del>R$ 499,90</del>
                        </div><!--list-price-->
                        <div class="price">
                            <span>
                                R$ 439,90
                            </span>
                        </div><!--price-->
                        <div class="payment-method">
                            5x de 
                            <span class="installments">
                                <span class="installment-amount">R$ 87,98</span>
                            </span>
                        </div>
                    </div><!--price-content-->
                </div><!--prod-description-->
            </a>
        </div><!--item-card-->
        
        
        <div class="item-card">
            <a href="/account/user/login">
                <img src="{% static '/user/images/nike1.webp' %}" alt="" srcset="">
                <div class="prod-description">
                    <a href="" class="details product-name">Tenis Nike Unisex</a>
                    <div class="price-content">
                        <div class="list-price">
                            <del>R$ 499,90</del>
                        </div><!--list-price-->
                        <div class="price">
                            <span>
                                R$ 439,90
                            </span>
                        </div><!--price-->
                        <div class="payment-method">
                            5x de 
                            <span class="installments">
                                <span class="installment-amount">R$ 87,98</span>
                            </span>
                        </div>
                    </div><!--price-content-->
                </div><!--prod-description-->
            </a>
        </div><!--item-card-->
        
        
        <div class="item-card">
            <a href="/account/user/login">
                <img src="{% static '/user/images/nike1.webp' %}" alt="" srcset="">
                <div class="prod-description">
                    <a href="" class="details product-name">Tenis Nike Unisex</a>
                    <div class="price-content">
                        <div class="list-price">
                            <del>R$ 499,90</del>
                        </div><!--list-price-->
                        <div class="price">
                            <span>
                                R$ 439,90
                            </span>
                        </div><!--price-->
                        <div class="payment-method">
                            5x de 
                            <span class="installments">
                                <span class="installment-amount">R$ 87,98</span>
                            </span>
                        </div>
                    </div><!--price-content-->
                </div><!--prod-description-->
            </a>
        </div><!--item-card-->
        
        
        <div class="item-card">
            <a href="/account/user/login">
                <img src="{% static '/user/images/nike1.webp' %}" alt="" srcset="">
                <div class="prod-description">
                    <a href="" class="details product-name">Tenis Nike Unisex</a>
                    <div class="price-content">
                        <div class="list-price">
                            <del>R$ 499,90</del>
                        </div><!--list-price-->
                        <div class="price">
                            <span>
                                R$ 439,90
                            </span>
                        </div><!--price-->
                        <div class="payment-method">
                            5x de 
                            <span class="installments">
                                <span class="installment-amount">R$ 87,98</span>
                            </span>
                        </div>
                    </div><!--price-content-->
                </div><!--prod-description-->
            </a>
        </div><!--item-card-->
        
        
    </div>

    <div class="clear"></div>
{% endblock body %}