<!DOCTYPE html>
{% extends 'users/base.html' %}
{% load static %}

{% block title %} Index {% endblock title %}

{% block body %}
    <div class="item-card">
        <img src="{% static '/user/images/nike1.webp' %}" alt="" srcset="">
    </div>
    <div class="item-card">
        <img src="{% static '/user/images/nike2.webp' %}" alt="" srcset="">
    </div>
    <div class="item-card">
        <img src="{% static '/user/images/nike1.webp' %}" alt="" srcset="">
    </div>
    <div class="item-card">
        <img src="{% static '/user/images/nike2.webp' %}" alt="" srcset="">
    </div>
    <div class="item-card">
        <img src="{% static '/user/images/nike1.webp' %}" alt="" srcset="">
    </div>
    <div class="item-card">
        <img src="{% static '/user/images/nike2.webp' %}" alt="" srcset="">
    </div>

    <div class="item-card">
        <img src="{% static '/user/images/nike2.webp' %}" alt="" srcset="">
    </div>

    <div class="item-card">
        <img src="{% static '/user/images/nike2.webp' %}" alt="" srcset="">
    </div>

    <div class="item-card">
        <img src="{% static '/user/images/nike2.webp' %}" alt="" srcset="">
    </div>

    <div class="item-card">
        <img src="{% static '/user/images/nike2.webp' %}" alt="" srcset="">
    </div>

    <div class="clear"></div>
{% endblock body %}